@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #00274c;
  --color-2: #11296b;
  --color-3: #ededed;
  --color-4: #ffdb57;
  --color-5: #ffcb05;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-coop-1: var(--color-1);
  --color-coop-2: var(--color-2);
  --color-coop-3: var(--color-3);
  --color-coop-4: var(--color-4);
  --color-coop-5: var(--color-5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "SpaceMono";
  src: url("./assets/fonts/SpaceMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SpaceMono";
  src: url("./assets/fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("./assets/fonts/RedHatDisplay-ExtraBold.ttf");
  font-weight: 800;
}

._button {
  @apply px-4 py-2 rounded-lg font-[RedHatDisplay] cursor-pointer font-semibold;
  @apply border hover:border-coop-2;
  @apply bg-coop-2 hover:bg-white;
  @apply text-coop-3 hover:text-coop-2;
  @apply transition duration-150 ease-out;
}

._arrowbtn {
  @apply p-1 rounded-lg cursor-pointer;
  @apply border border-black;
  @apply bg-black hover:bg-white;
  @apply text-white hover:text-black;
  @apply transition duration-150 ease-out;
}

._input {
  @apply py-2 placeholder:font-semibold;
  @apply placeholder-gray-500 ring-2 ring-gray-300 focus:ring-gray-500 focus:ring-2;
  @apply text-black rounded-2xl border-none;
}

._deletebtn {
  @apply p-2 cursor-pointer;
  @apply border border-red-500;
  @apply hover:bg-red-500;
  @apply text-red-500 hover:text-white;
  @apply transition duration-150 ease-out;
}

._editbtn {
  @apply p-2 cursor-pointer;
  @apply border border-coop-5;
  @apply hover:bg-coop-4;
  @apply text-coop-5 hover:text-white;
  @apply transition duration-150 ease-out;
}

._actionbtn {
  @apply p-2 cursor-pointer;
  @apply border border-coop-1;
  @apply hover:bg-coop-1;
  @apply text-coop-1 hover:text-white;
  @apply transition duration-150 ease-out;
}
